@import "../../../styles/colors";

.sideIconContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: $side-icon-black;
  width: 5rem;
  height: 5rem;
  z-index: 20;
  cursor: pointer;
}

.sideIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  fill: none;
  border: 3px inset $bgColor2;
  border-radius: 50%;
  vertical-align: middle;
}
