.bgContainer {
  width: 100vw;
  height: 100vh;
  perspective: 5vmin;
  transform-style: preserve-3d;
  opacity: 0;
}

.background {
  width: 30vmin;
  height: 30vmin;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.bgRotate1 {
  animation: scaleup1 20s linear infinite;
}

.bgRotate2 {
  animation: scaleup2 20s linear infinite;
}

.bgRotate3 {
  animation: scaleup3 20s linear infinite;
}

.bgRotate4 {
  animation: scaleup4 20s linear infinite;
}

.bgRotate5 {
  animation: scaleup5 20s linear infinite;
}

.bgRotate6 {
  animation: scaleup6 20s linear infinite;
}

.bgRotate7 {
  animation: scaleup7 20s linear infinite;
}

.bgRotate8 {
  animation: scaleup8 20s linear infinite;
}

@keyframes scaleup1 {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) rotate(0);
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 0, 6vmin) rotate(90deg);
  }
}

@keyframes scaleup2 {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) rotate(0);
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 0, 6vmin) rotate(150deg);
  }
}

@keyframes scaleup3 {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) rotate(0);
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 0, 6vmin) rotate(220deg);
  }
}

@keyframes scaleup4 {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) rotate(0);
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 0, 6vmin) rotate(-75deg);
  }
}

@keyframes scaleup5 {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) rotate(0);
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 0, 6vmin) rotate(-105deg);
  }
}

@keyframes scaleup6 {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) rotate(0);
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 0, 6vmin) rotate(-160deg);
  }
}

@keyframes scaleup7 {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) rotate(0);
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 0, 6vmin) rotate(-190deg);
  }
}

@keyframes scaleup8 {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) rotate(0);
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 0, 6vmin) rotate(170deg);
  }
}
