.container {
  overflow: hidden;
}

/* 左背景のSP表示 */
@media (max-width: 960px) {
  .background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: -100vw;
    opacity: 0.7;
    animation: slide 5s ease-in-out infinite alternate;
    z-index: 10;
  }
  @keyframes slide {
    0% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(100vw);
    }
  }
}

/* 左背景のPC表示 */
@media (min-width: 960px) {
  .background {
    width: 70vw;
    height: 100vh;
    position: fixed;
    left: -70vw;
    opacity: 0.7;
    animation: slide 5s ease-in-out infinite alternate;
    z-index: 10;
  }
  @keyframes slide {
    0% {
      transform: translateX(-70vw);
    }
    100% {
      transform: translateX(70vw);
    }
  }
}

.background:nth-child(1) {
  animation-delay: -1.2s;
}

.background:nth-child(3) {
  animation-delay: 1.2s;
}

.background:nth-child(4) {
  animation-delay: 2.4s;
}

.background:nth-child(5) {
  animation-delay: 3.6s;
}
.background:nth-child(6) {
  animation-delay: 4.8s;
}

/* 右コンテンツのSP表示 */
@media (max-width: 960px) {
  .title {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .spButton {
    z-index: 20;
    opacity: 0.7;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid;
    cursor: pointer;
  }
  .detailContainer {
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }
  .detail {
    width: 100%;
    height: 100%;
    padding: 10% 10%;
    color: #d6d6d6;
    overflow: scroll;
  }
  .closeIcon {
    position: absolute;
    top: 5%;
    right: 10%;
    cursor: pointer;
  }
}

/* 右コンテンツのPC表示 */
@media (min-width: 960px) {
  .title {
    width: 70vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .spButton {
    display: none;
  }
  .detailContainer {
    width: 30vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;
  }
  .detail {
    width: 100%;
    height: 100%;
    padding: 15% 10%;
    color: #d6d6d6;
    overflow: scroll;
  }
  .closeIcon {
    display: none;
  }
}

.titleFont {
  z-index: 20;
  font-size: 2rem;
  opacity: 0.7;
}

.detailTitle {
  font-weight: bold;
  margin-bottom: 2vh;
  font-size: 1.1rem;
}

.detailText {
  line-height: 200%;
  margin-bottom: 4vh;
}

.detailText a {
  color: rgb(121, 139, 216);
}

.detailText a:hover {
  text-decoration: none;
}

.darkFont {
  color: rgb(140, 140, 140);
}

.smallFont {
  font-size: 0.8rem;
  margin: -0.5rem 0;
}
