$bgColor0: #f00;
$bgColor1: #0afffb;
$bgColor2: #f49e00;
$bgColor3: #ffff1e;
$bgColor4: #0df400;
$bgColor5: #e60aff;
$bgColor6: #004aff;

$base-white: #fff;
$base-black: #000;
$font-white: #c4c4c4;
$font-gray: #8c8c8c;
$side-icon-black: #272727;
$side-menu-black: #0f0f0f;

$transparent: rgba(0, 0, 0, 0);

$link-blue: #798bd8;
