/* [project]/src/app/Common/SNS/Background/SnsBackground.module.scss.module.css [client] (css) */
.SnsBackground-module-scss-module__fSqYnW__geometory {
  position: absolute;
  top: 100vh;
}

.SnsBackground-module-scss-module__fSqYnW__geometory0 {
  opacity: .5;
  background: red;
  width: 5rem;
  height: 5rem;
  animation: 3s ease-out infinite both SnsBackground-module-scss-module__fSqYnW__rotation0;
  left: 20vw;
}

.SnsBackground-module-scss-module__fSqYnW__geometory1 {
  transform-origin: 50% 25%;
  opacity: .5;
  border: 3rem solid rgba(0, 0, 0, 0);
  border-top: 5rem solid #0afffb;
  width: 0;
  height: 0;
  animation: 4s ease-out 1s infinite both SnsBackground-module-scss-module__fSqYnW__rotation1;
  left: 30vw;
}

.SnsBackground-module-scss-module__fSqYnW__geometory2 {
  transform-origin: 50% 25%;
  opacity: .5;
  border: 5rem solid rgba(0, 0, 0, 0);
  border-top: 8rem solid #f49e00;
  width: 0;
  height: 0;
  animation: 3s ease-out infinite both SnsBackground-module-scss-module__fSqYnW__rotation2;
  left: 45vw;
}

.SnsBackground-module-scss-module__fSqYnW__geometory3 {
  opacity: .5;
  background: #ffff1e;
  width: 7rem;
  height: 7rem;
  animation: 4s ease-out 2s infinite both SnsBackground-module-scss-module__fSqYnW__rotation3;
  left: 55vw;
}

.SnsBackground-module-scss-module__fSqYnW__geometory4 {
  opacity: .5;
  background: #0df400;
  width: 4rem;
  height: 4rem;
  animation: 5s ease-out 1s infinite both SnsBackground-module-scss-module__fSqYnW__rotation4;
  left: 60vw;
}

.SnsBackground-module-scss-module__fSqYnW__geometory5 {
  transform-origin: 50% 25%;
  opacity: .5;
  border: 4rem solid rgba(0, 0, 0, 0);
  border-top: 7.5rem solid #e60aff;
  width: 0;
  height: 0;
  animation: 4s ease-out infinite both SnsBackground-module-scss-module__fSqYnW__rotation5;
  left: 65vw;
}

.SnsBackground-module-scss-module__fSqYnW__geometory6 {
  transform-origin: 50% 25%;
  opacity: .5;
  border: 3rem solid rgba(0, 0, 0, 0);
  border-top: 5rem solid #004aff;
  width: 0;
  height: 0;
  animation: 5s ease-out infinite both SnsBackground-module-scss-module__fSqYnW__rotation6;
  left: 75vw;
}

.SnsBackground-module-scss-module__fSqYnW__geometory7 {
  opacity: .5;
  background: red;
  border-radius: 6rem;
  width: 6rem;
  height: 6rem;
  animation: 4s ease-out 1s infinite both SnsBackground-module-scss-module__fSqYnW__rotation7;
  left: 90vw;
}

.SnsBackground-module-scss-module__fSqYnW__geometory8 {
  opacity: .5;
  background: #0afffb;
  width: 7rem;
  height: 7rem;
  animation: 5s ease-out 3s infinite both SnsBackground-module-scss-module__fSqYnW__rotation8;
  left: 80vw;
}

.SnsBackground-module-scss-module__fSqYnW__geometory9 {
  opacity: .5;
  background: #f49e00;
  border-radius: 7rem;
  width: 7rem;
  height: 7rem;
  animation: 4s ease-out 3s infinite both SnsBackground-module-scss-module__fSqYnW__rotation9;
  left: 10vw;
}

.SnsBackground-module-scss-module__fSqYnW__geometory10 {
  transform-origin: 50% 25%;
  opacity: .5;
  border: 5rem solid rgba(0, 0, 0, 0);
  border-top: 8rem solid #ffff1e;
  width: 0;
  height: 0;
  animation: 3.5s ease-out 1s infinite both SnsBackground-module-scss-module__fSqYnW__rotation10;
  left: 15vw;
}

.SnsBackground-module-scss-module__fSqYnW__geometory11 {
  opacity: .5;
  background: #0df400;
  width: 3rem;
  height: 3rem;
  animation: 5s ease-out 3s infinite both SnsBackground-module-scss-module__fSqYnW__rotation11;
  left: 25vw;
}

.SnsBackground-module-scss-module__fSqYnW__geometory12 {
  opacity: .5;
  background: #e60aff;
  border-radius: 4rem;
  width: 4rem;
  height: 4rem;
  animation: 4s ease-out 2s infinite both SnsBackground-module-scss-module__fSqYnW__rotation12;
  left: 35vw;
}

.SnsBackground-module-scss-module__fSqYnW__geometory13 {
  transform-origin: 50% 25%;
  opacity: .5;
  border: 6rem solid rgba(0, 0, 0, 0);
  border-top: 10rem solid #004aff;
  width: 0;
  height: 0;
  animation: 5s ease-out 2s infinite both SnsBackground-module-scss-module__fSqYnW__rotation13;
  left: 30vw;
}

@keyframes SnsBackground-module-scss-module__fSqYnW__rotation0 {
  0% {
    top: 150vh;
  }

  75% {
    opacity: .4;
  }

  100% {
    opacity: 0;
    top: 70vh;
    transform: rotate(360deg);
  }
}

@keyframes SnsBackground-module-scss-module__fSqYnW__rotation1 {
  0% {
    top: 120vh;
  }

  75% {
    opacity: .4;
  }

  100% {
    opacity: 0;
    top: 60vh;
    transform: rotate(400deg);
  }
}

@keyframes SnsBackground-module-scss-module__fSqYnW__rotation2 {
  0% {
    top: 130vh;
  }

  75% {
    opacity: .4;
  }

  100% {
    opacity: 0;
    top: 75vh;
    transform: rotate(360deg);
  }
}

@keyframes SnsBackground-module-scss-module__fSqYnW__rotation3 {
  0% {
    top: 110vh;
  }

  75% {
    opacity: .4;
  }

  100% {
    opacity: 0;
    top: 55vh;
    transform: rotate(500deg);
  }
}

@keyframes SnsBackground-module-scss-module__fSqYnW__rotation4 {
  0% {
    top: 130vh;
  }

  75% {
    opacity: .4;
  }

  100% {
    opacity: 0;
    top: 65vh;
    transform: rotate(450deg);
  }
}

@keyframes SnsBackground-module-scss-module__fSqYnW__rotation5 {
  0% {
    top: 110vh;
  }

  75% {
    opacity: .4;
  }

  100% {
    opacity: 0;
    top: 55vh;
    transform: rotate(300deg);
  }
}

@keyframes SnsBackground-module-scss-module__fSqYnW__rotation6 {
  0% {
    top: 130vh;
  }

  75% {
    opacity: .4;
  }

  100% {
    opacity: 0;
    top: 70vh;
    transform: rotate(350deg);
  }
}

@keyframes SnsBackground-module-scss-module__fSqYnW__rotation7 {
  0% {
    top: 140vh;
  }

  75% {
    opacity: .4;
  }

  100% {
    opacity: 0;
    top: 50vh;
  }
}

@keyframes SnsBackground-module-scss-module__fSqYnW__rotation8 {
  0% {
    top: 110vh;
  }

  75% {
    opacity: .4;
  }

  100% {
    opacity: 0;
    top: 65vh;
    transform: rotate(500deg);
  }
}

@keyframes SnsBackground-module-scss-module__fSqYnW__rotation9 {
  0% {
    top: 140vh;
  }

  75% {
    opacity: .4;
  }

  100% {
    opacity: 0;
    top: 55vh;
  }
}

@keyframes SnsBackground-module-scss-module__fSqYnW__rotation10 {
  0% {
    top: 150vh;
  }

  75% {
    opacity: .4;
  }

  100% {
    opacity: 0;
    top: 65vh;
    transform: rotate(200deg);
  }
}

@keyframes SnsBackground-module-scss-module__fSqYnW__rotation11 {
  0% {
    top: 110vh;
  }

  75% {
    opacity: .4;
  }

  100% {
    opacity: 0;
    top: 85vh;
    transform: rotate(500deg);
  }
}

@keyframes SnsBackground-module-scss-module__fSqYnW__rotation12 {
  0% {
    top: 120vh;
  }

  75% {
    opacity: .4;
  }

  100% {
    opacity: 0;
    top: 80vh;
  }
}

@keyframes SnsBackground-module-scss-module__fSqYnW__rotation13 {
  0% {
    top: 130vh;
  }

  75% {
    opacity: .4;
  }

  100% {
    opacity: 0;
    top: 50vh;
    transform: rotate(600deg);
  }
}

/*# sourceMappingURL=src_app_Common_SNS_Background_SnsBackground_module_scss_module_css_14eac1ce._.single.css.map*/