/* [project]/src/app/SP/About/About.module.scss.module.css [client] (css) */
.About-module-scss-module__bfoJ7a__container {
  overflow: hidden;
}

.About-module-scss-module__bfoJ7a__background {
  opacity: .7;
  width: 100vw;
  height: 100vh;
  animation: 5s ease-in-out infinite alternate About-module-scss-module__bfoJ7a__slide;
  position: fixed;
  left: -100vw;
}

.About-module-scss-module__bfoJ7a__background:first-child {
  animation-delay: -1.2s;
}

.About-module-scss-module__bfoJ7a__background:nth-child(2) {
  animation-delay: 0s;
}

.About-module-scss-module__bfoJ7a__background:nth-child(3) {
  animation-delay: 1.2s;
}

.About-module-scss-module__bfoJ7a__background:nth-child(4) {
  animation-delay: 2.4s;
}

.About-module-scss-module__bfoJ7a__background:nth-child(5) {
  animation-delay: 3.6s;
}

.About-module-scss-module__bfoJ7a__background:nth-child(6) {
  animation-delay: 4.8s;
}

@keyframes About-module-scss-module__bfoJ7a__slide {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(100vw);
  }
}

.About-module-scss-module__bfoJ7a__title {
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.About-module-scss-module__bfoJ7a__title .About-module-scss-module__bfoJ7a__titleFont {
  z-index: 10;
  opacity: .7;
}

.About-module-scss-module__bfoJ7a__title .About-module-scss-module__bfoJ7a__spButton {
  z-index: 10;
  opacity: .7;
  cursor: pointer;
  border: 1px solid;
  margin-top: 1rem;
  padding: .5rem 1rem;
}

.About-module-scss-module__bfoJ7a__detailContainer {
  opacity: 0;
  z-index: 100;
  background: #000;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
}

.About-module-scss-module__bfoJ7a__detailContainer .About-module-scss-module__bfoJ7a__detail {
  color: #c4c4c4;
  width: 100%;
  height: 100%;
  padding: 3rem 1.5rem;
  overflow: scroll;
}

.About-module-scss-module__bfoJ7a__detailContainer .About-module-scss-module__bfoJ7a__detail .About-module-scss-module__bfoJ7a__closeDetail {
  cursor: pointer;
  text-align: center;
  width: 1rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
}

.About-module-scss-module__bfoJ7a__detailContainer .About-module-scss-module__bfoJ7a__detail .About-module-scss-module__bfoJ7a__detailTitle {
  margin-bottom: .9rem;
  font-weight: bold;
}

.About-module-scss-module__bfoJ7a__detailContainer .About-module-scss-module__bfoJ7a__detail .About-module-scss-module__bfoJ7a__detailText {
  margin-bottom: 1.5rem;
  font-size: .9rem;
  line-height: 200%;
}

.About-module-scss-module__bfoJ7a__detailContainer .About-module-scss-module__bfoJ7a__detail .About-module-scss-module__bfoJ7a__detailText a {
  color: #798bd8;
}

.About-module-scss-module__bfoJ7a__detailContainer .About-module-scss-module__bfoJ7a__detail .About-module-scss-module__bfoJ7a__detailText a:hover {
  text-decoration: none;
}

.About-module-scss-module__bfoJ7a__detailContainer .About-module-scss-module__bfoJ7a__detail .About-module-scss-module__bfoJ7a__detailText .About-module-scss-module__bfoJ7a__darkFont {
  color: #8c8c8c;
}

/*# sourceMappingURL=src_app_SP_About_About_module_scss_module_css_14eac1ce._.single.css.map*/