@import "../../../../styles/colors";

.geometory {
  position: absolute;
  top: 100vh;
}

.geometory0 {
  left: 20vw;
  width: 5rem;
  height: 5rem;
  background: $bgColor0;
  opacity: 0.5;
  animation: rotation0 3s ease-out infinite both;
}

.geometory1 {
  left: 30vw;
  width: 0;
  height: 0;
  border: 3rem solid transparent;
  border-top: 5rem solid $bgColor1;
  transform-origin: 50% 25%;
  opacity: 0.5;
  animation: rotation1 4s ease-out infinite both 1s;
}

.geometory2 {
  left: 45vw;
  width: 0;
  height: 0;
  border: 5rem solid transparent;
  border-top: 8rem solid $bgColor2;
  transform-origin: 50% 25%;
  opacity: 0.5;
  animation: rotation2 3s ease-out infinite both;
}

.geometory3 {
  left: 55vw;
  width: 7rem;
  height: 7rem;
  background: $bgColor3;
  opacity: 0.5;
  animation: rotation3 4s ease-out infinite both 2s;
}

.geometory4 {
  left: 60vw;
  width: 4rem;
  height: 4rem;
  background: $bgColor4;
  opacity: 0.5;
  animation: rotation4 5s ease-out infinite both 1s;
}

.geometory5 {
  left: 65vw;
  width: 0;
  height: 0;
  border: 4rem solid transparent;
  border-top: 7.5rem solid $bgColor5;
  transform-origin: 50% 25%;
  opacity: 0.5;
  animation: rotation5 4s ease-out infinite both;
}

.geometory6 {
  left: 75vw;
  width: 0;
  height: 0;
  border: 3rem solid transparent;
  border-top: 5rem solid $bgColor6;
  transform-origin: 50% 25%;
  opacity: 0.5;
  animation: rotation6 5s ease-out infinite both;
}

.geometory7 {
  left: 90vw;
  width: 6rem;
  height: 6rem;
  border-radius: 6rem;
  background: $bgColor0;
  opacity: 0.5;
  animation: rotation7 4s ease-out infinite both 1s;
}

.geometory8 {
  left: 80vw;
  width: 7rem;
  height: 7rem;
  background: $bgColor1;
  opacity: 0.5;
  animation: rotation8 5s ease-out infinite both 3s;
}

.geometory9 {
  left: 10vw;
  width: 7rem;
  height: 7rem;
  border-radius: 7rem;
  background: $bgColor2;
  opacity: 0.5;
  animation: rotation9 4s ease-out infinite both 3s;
}

.geometory10 {
  left: 15vw;
  width: 0;
  height: 0;
  border: 5rem solid transparent;
  border-top: 8rem solid $bgColor3;
  transform-origin: 50% 25%;
  opacity: 0.5;
  animation: rotation10 3.5s ease-out infinite both 1s;
}

.geometory11 {
  left: 25vw;
  width: 3rem;
  height: 3rem;
  background: $bgColor4;
  opacity: 0.5;
  animation: rotation11 5s ease-out infinite both 3s;
}

.geometory12 {
  left: 35vw;
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  background: $bgColor5;
  opacity: 0.5;
  animation: rotation12 4s ease-out infinite both 2s;
}

.geometory13 {
  left: 30vw;
  width: 0;
  height: 0;
  border: 6rem solid transparent;
  border-top: 10rem solid $bgColor6;
  transform-origin: 50% 25%;
  opacity: 0.5;
  animation: rotation13 5s ease-out infinite both 2s;
}

@keyframes rotation0 {
  0% {
    top: 150vh;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    top: 70vh;
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes rotation1 {
  0% {
    top: 120vh;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    top: 60vh;
    transform: rotate(400deg);
    opacity: 0;
  }
}

@keyframes rotation2 {
  0% {
    top: 130vh;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    top: 75vh;
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes rotation3 {
  0% {
    top: 110vh;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    top: 55vh;
    transform: rotate(500deg);
    opacity: 0;
  }
}

@keyframes rotation4 {
  0% {
    top: 130vh;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    top: 65vh;
    transform: rotate(450deg);
    opacity: 0;
  }
}

@keyframes rotation5 {
  0% {
    top: 110vh;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    top: 55vh;
    transform: rotate(300deg);
    opacity: 0;
  }
}

@keyframes rotation6 {
  0% {
    top: 130vh;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    top: 70vh;
    transform: rotate(350deg);
    opacity: 0;
  }
}

@keyframes rotation7 {
  0% {
    top: 140vh;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    top: 50vh;
    opacity: 0;
  }
}

@keyframes rotation8 {
  0% {
    top: 110vh;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    top: 65vh;
    transform: rotate(500deg);
    opacity: 0;
  }
}

@keyframes rotation9 {
  0% {
    top: 140vh;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    top: 55vh;
    opacity: 0;
  }
}

@keyframes rotation10 {
  0% {
    top: 150vh;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    top: 65vh;
    transform: rotate(200deg);
    opacity: 0;
  }
}

@keyframes rotation11 {
  0% {
    top: 110vh;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    top: 85vh;
    transform: rotate(500deg);
    opacity: 0;
  }
}

@keyframes rotation12 {
  0% {
    top: 120vh;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    top: 80vh;
    opacity: 0;
  }
}

@keyframes rotation13 {
  0% {
    top: 130vh;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    top: 50vh;
    transform: rotate(600deg);
    opacity: 0;
  }
}
