@media (max-width: 960px) {
  .sideMenuContainer {
    position: absolute;
    top: -100vh;
    right: 0;
    left: 0;
    margin: auto;
    background: rgb(15, 15, 15);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: 10;
  }
  .sideMenuBox {
    height: 100%;
    padding: 25vh 0;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-between;
  }
}

@media (min-width: 960px) {
  .sideMenuContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20vw;
    margin: auto;
    background: rgb(15, 15, 15);
    width: 20vw;
    height: 70vh;
    opacity: 0;
    z-index: 10;
  }
  .sideMenuBox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 9vw;
    margin: auto;
    height: 60%;
    padding: 10% 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
}

.sideMenu {
  font-size: 2vh;
  color: #c4c4c4;
  cursor: pointer;
  position: relative;
}

.sideMenu:nth-child(1):hover {
  color: #ff0000;
}

.sideMenu:nth-child(2):hover {
  color: #0df400;
}

.sideMenu:nth-child(3):hover {
  color: #ffff1e;
}

.sideMenu:nth-child(4):hover {
  color: #0afffb;
}

.sideMenu:nth-child(5):hover {
  color: #f49e00;
}

.sideMenuBox a:hover {
  text-decoration: none;
}
