.sideMenuContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -17vw;
  margin: auto;
  background: rgb(15, 15, 15);
  width: 17vw;
  height: 70vh;
  opacity: 0.7;
  z-index: 10;
}

.sideMenuBox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 9vw;
  margin: auto;
  height: 60%;
  padding: 10% 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.sideMenu {
  font-size: 2vh;
  color: #c4c4c4;
  cursor: pointer;
  position: relative;
}

.sideMenu:nth-child(1):hover {
  color: #ff0000;
}

.sideMenu:nth-child(2):hover {
  color: #0df400;
}

.sideMenu:nth-child(3):hover {
  color: #ffff1e;
}

.sideMenu:nth-child(4):hover {
  color: #0afffb;
}

.sideMenu:nth-child(5):hover {
  color: #f49e00;
}

.sideMenuBox a:hover {
  text-decoration: none;
}
