/* SP */
@media (max-width: 960px) {
  .leftContainer {
    width: 100vw;
    height: 100vh;
  }
  .rightContainer {
    width: 100vw;
    height: 100vh;
  }
}

/* PC */
@media (min-width: 960px) {
  .leftContainer {
    width: 70vw;
    height: 100vh;
    position: absolute;
    left: 0;
  }
  .rightContainer {
    width: 30vw;
    height: 100vh;
    position: absolute;
    right: 0;
  }
}
