.name {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 34vmin;
  height: 7vmin;
  color: #fff;
  pointer-events: none;
}

.letter {
  font-size: 5vmin;
}
