.sideIconContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: rgb(39, 39, 39);
  width: 6vw;
  height: 6vw;
  z-index: 20;
  cursor: pointer;
}

.sideIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  fill: none;
  border: 3px inset #f49e00;
  border-radius: 50%;
  vertical-align: middle;
}
